<div class="page-header">
    <div class="container">
        <h1>{{header}}</h1>
    </div>
</div>

<div class="container">
    <div class="row top-row">
        <div class="col-xs-12 row end-xs">
            <a routerLink="/vehicles" color="primary" mat-raised-button>
                <mat-icon>chevron_left</mat-icon>
                Go Back
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <!-- vehicle Details -->
            <form #vehicleDetailsForm="ngForm">
                <div class="row">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Vehicle Type</mat-label>
                            <input type="text" matInput [(ngModel)]="vehicle.VehicleType" name="firstName" required>
                            <mat-error>Vehicle Type is a required field</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Make</mat-label>
                            <input type="text" matInput [(ngModel)]="vehicle.Make" name="Make" required>
                            <mat-error>Make is a required field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Model</mat-label>
                            <input type="text" matInput [(ngModel)]="vehicle.Model" name="Model" required>
                            <mat-error>Model is a required field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Year</mat-label>
                            <input type="number" matInput [(ngModel)]="vehicle.Year" name="Year" required>
                            <mat-error>Year is a required field</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Wheel Count</mat-label>
                            <input type="number" matInput [(ngModel)]="vehicle.WheelCount" name="WheelCount" required>
                            <mat-error>Wheel Count is a required field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Fuel Type</mat-label>
                            <input type="text" matInput [(ngModel)]="vehicle.FuelType" name="FuelType" required>
                            <mat-error>Fuel Type is a required field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Active</mat-label>
                            <input type="text" matInput [(ngModel)]="vehicle.Active" name="Active" required>
                            <mat-error>Active is a required field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row between-xs" *ngIf="!isNewVehicle">
                            <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
                            <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
                        </div>
                        <div class="row between-xs" *ngIf="isNewVehicle">
                            <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="row center-xs">
                <div class="image-container">
                    <img [src]="displayProfileImageUrl" alt="Profile Image">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewVehicle">
                </div>
            </div>
        </div>
    </div>
</div>